@font-face {
	font-family: "MaterialIcons";
	src: url('police/MaterialIcons-Regular\ \(1\).ttf');
}

body{
    background:linear-gradient(to right, #09234B, #1C4689);
    font-family: "Rubik";
    font-size: 1.3333rem;
    color:#2D2E30;
    padding: 0;
}

.marginpage{
    margin-left: 23.4375rem;
    margin-right: 23.4375rem;
}

.m_icons{
    font-family:"MaterialIcons";
}


hr{
    color:#707070;
}

.listdeco{
    list-style: none;
    text-decoration: none;
    color: white;
}

a{
    text-decoration: none;
    color: white
}


.m_icons{
    font-family:"MaterialIcons";
}

/*Boite */
.box20{
    box-sizing: border-box;
    width: 20%;
}

.box50{
    box-sizing: border-box;
    width: 50%;
}



/* Flexbox */
.flex{
    display: flex;
}

.flex-center{
    align-items: center;
}

.between{
    justify-content: space-between;
}

.end{
    justify-content: flex-end;
}


/*padding*/

.pad-l{
    padding-left: 3rem;
}

/* style textes*/

.whitetexte
{color: white;
    text-align: center;
}

h1{
    font-size:5rem;
    font-weight: 700;
}

.orange{
    color: #FF8400
}

.font-17{
    font-size: 1.4167rem;
}

/*background*/
    .backwhite{
        background-color: white;
    }