@font-face {
	font-family: "MaterialIcons";
	src: url('police/MaterialIcons-Regular\ \(1\).ttf');
}

body{
    background:linear-gradient(to right, #09234B, #1C4689);
    font-family: 'Rubik';
    font-size: 16pt;
    color:#2D2E30;
    padding: 0;
}

.marginpage{
    margin-left: 375px;
    margin-right: 375px;
}

.m_icons{
    font-family:"MaterialIcons";
}


hr{
    color:#707070;
}

.listdeco{
    list-style: none;
    text-decoration: none;
    color: white;
}

a{
    text-decoration: none;
    color: white
}

.box20{
    box-sizing: border-box;
    width: 20%;
}

.m_icons{
    font-family:"MaterialIcons";
}

/* Flexbox */
.flex{
    display: flex;
}

.flex-center{
    align-items: center;
}

.between{
    justify-content: space-between;
}
