@font-face {
	font-family: "MaterialIcons";
	src: url('police/MaterialIcons-Regular\ \(1\).ttf');
}

body{
    background:linear-gradient(to right, #09234B, #1C4689);
    font-family: "Rubik";
    font-size: 1.3333rem;
    color:#2D2E30;
    padding: 0;
}

.marginpage{
    margin-left: 23.4375rem;
    margin-right: 23.4375rem;
}

.m_icons{
    font-family:"MaterialIcons";
}


hr{
    color:#707070;
}

.listdeco{
    list-style: none;
    text-decoration: none;
    color: white;
}

li >a{
    text-decoration: none;
    color: white
}


.m_icons{
    font-family:"MaterialIcons";
}

/*Boite */
.box20{
    box-sizing: border-box;
    width: 20%;
}

.box50{
    box-sizing: border-box;
    width: 50%;
}

.box23{
    box-sizing: border-box;
    width: 23.75rem;
}



/* Flexbox */
.flex{
    display: flex;
}

.flex-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.between{
    justify-content: space-between;
}

.end{
    justify-content: flex-end;
}

.flex-wrap{
    flex-wrap: wrap;
}


/*padding*/

.pad-l{
    padding-left: 3rem;
}

.padserv{
    padding-bottom: 10rem;
    padding-top: 10rem;
}

.paddingart{
    padding-top: 7.25rem;
}

/* style textes*/

.whitetexte
{color: white;
    text-align: center;
}

h1{
    font-size:5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h3{
    font-size:1.6667rem;
    font-weight: 500;
}

.orange{
    color: #FF8400
}

.font-17{
    font-size: 1.4167rem;
    text-align: center;
    line-height: 2.6667em;
}

.font36{
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
}

/*background*/
.backwhite{
    background-color: white;
    width:100%
}

/* Hover catégories*/
.bordure:hover{
    border: 1px solid white;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.05);
    padding: 1.625rem;     
}

/* Media Queries MOBILE PORTRAIT*/
@media only screen and (orientation: portrait) and (max-device-width:600px){

    body{
        font-size:0.6667rem;
    }

    .marginpage{
        margin: 2rem;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box50{
        width: auto;
    }   

    ul{
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    h1{
        font-size: 1.6667rem;
    }

    .font-17{
        font-size: 1rem;
    }

    .padserv{
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .font36{
        font-size: 1.7167rem;
    }

    .none-mobileport{
        display: none;
    }

    .paddingart{
        padding-top: 3.25rem;
    }

    #categories{
        text-align: center;
    }



    h3{
        margin: 0 0 2rem 0;
    }

}

/* Media Queries MOBILE PAYSAGE*/
@media only screen and (orientation: landscape) and (max-width: 767.98px){

    
    body{
        font-size:0.6667rem;
    }

    .marginpage{
        margin: 2rem;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box50{
        width: auto;
    }   

    ul{
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    h1{
        font-size: 1.6667rem;
    }

    .font-17{
        font-size: 1rem;
    }

    .padserv{
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .font36{
        font-size: 1.7167rem;
    }

    .none-mobileport{
        display: none;
    }

    .paddingart{
        padding-top: 3.25rem;
    }

    #categories{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h3{
        margin: 0 0 2rem 0;
    }

    .box23{
        width: auto;
        text-align: center;
    }

}

/* Media Queries TABLETTE PORTRAIT */
@media (orientation: portrait) and (max-width: 1024px){

    body{
        font-size:1rem;
    }

    .marginpage{
        margin: 2rem;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box50{
        width: auto;
    }   

    ul{
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    h1{
        font-size: 1.6667rem;
    }

    .font-17{
        font-size: 1.5rem;
    }

    .padserv{
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .font36{
        font-size: 1.7167rem;
    }

    .none-mobileport{
        display: none;
    }

    .paddingart{
        padding-top: 3.25rem;
    }

    #categories{
        display: flex;
        justify-content: space-around;
    }

    .box23{
        width: auto;
        text-align: center;
    }


    h3{
        margin: 0 0 2rem 0;
    }

}